<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Baybayin</name>

    <description>
        A Mobile application that teaches you to read and spell the baybayin script. 
    </description>

    <author href="https://build.phonegap.com" email="paguioferdinand@gmail.com">
        Ferdinand Paguio
    </author>

</widget>

<!--Icons-->
	<icon src="icon.png" />
	
<!--Splash Screen-->
	<gap:splash src="splash/splash-default.png" />